.checkout {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .upload-section {
        grid-column: span 8 / span 8;

        .general-infos {

            &>div {
                padding: 0.75rem;

                display: grid;
                grid-template-columns: repeat(10, minmax(0, 1fr));

                @include glass('middle');
                border-radius: $rounded-xl;

                .cover {
                    grid-column: span 2 / span 2;
                    background-color: $light;

                    border-radius: $rounded-lg;

                    .drag-drop-area {
                        aspect-ratio: 1 / 1;
                    }
                }

                .infos {
                    grid-column: span 8 / span 8;
                }
            }
        }
    }

    .checkout-section {
        height: 100%;
        grid-column: span 4 / span 4;
        padding: 3rem 0;

        display: flex;
        align-items: center;

        #paypal-checkout {
            min-width: 75%;
            margin: 0 auto;
            padding: 1.5rem;

            @include glass('middle');
            background: radial-gradient(100% 100% at 0% 50%, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.40) 100%);
        }
    }
}

