#masteriser {
    position: relative;
    min-height: 100vh;
    padding: 5rem 0;

    &>.container {
        max-width: $xl;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        overflow-y: auto;

        h1 {
            margin: $spacing-xl 0;
            @include h2-bold;
        }

        &>div {
            width: 100%;

            .order-options {
                margin: $spacing-md;

                display: flex;
                align-items: center;
                gap: $spacing-xl;

                &>div {
                    display: flex;
                    align-items: center;
                    gap: $spacing;

                    p {
                        @include h4;
                        font-weight: 400;
                    }

                    &>div {
                        &>button {
                            @include h5-bold;
                        }
                    }
                    

                    .option-list {
                        
                        button {
                            font-weight: 600;
                        }
                    }
                }
            }

            .general-infos {

                &>div {
                    padding: $spacing;

                    display: flex;

                    @include glass('middle');
                    border-radius: $rounded-xl;

                    &>.cover {
                        margin-right: $spacing;
                        flex-basis: calc(100% / 6);
                        background-color: $light;

                        border-radius: $rounded-lg;

                        div {
                            max-height: none;
                        }

                        .drag-drop-area {
                            aspect-ratio: 1 / 1;
                        }
                    }

                    &>.infos {
                        min-height: 12rem;
                        flex-grow: 1;

                        display: flex;
                        flex-direction: column;

                        &>:nth-child(1) {
                            margin-bottom: $spacing;
                        }
                    }
                }
            }

            .tracks {
                display: flex;
                flex-direction: column;

                &>li {
                    margin-top: $spacing;
                    position: relative;
                    overflow: hidden;
                }
            }

            .add-track-button {
                // padding: 0 6rem;

                &>button {
                    width: 100%;
                    margin-top: $spacing;

                    @include glass('middle');
                    border-radius: $rounded-xl;

                    font-size: 1.75rem;
                    line-height: 1.2;

                    @include transition;

                    &:hover {
                        background-color: $primary;

                        font-weight: 500;
                        color: $soft;
                    }
                }
            }
        }
    }
}
