#presentation-section{
    position: relative;
    margin-top: -1px;
    padding: 10rem 0 8rem 0;

    &>div {

        &>.container{
            margin-bottom: 5rem;

            display: grid;
            grid-template-columns: repeat(12, 1fr);
            
            @media screen and (min-width: $lg){
                gap: 4rem;
            }

            @media screen and (min-width: $xl){
                gap: 6rem;
            }

            h2 {
                @include h2-bold;
                margin-bottom: 2rem;
            }
            
            &>div {
                
                &.text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media screen and (min-width: $lg){
                        grid-column: span 5;
                    }
    
                    @media screen and (min-width: $xl){
                        padding-left: 3rem;
                        grid-column: span 6;
                    }
                }
                
                &.img {
                    width: 100%;

                    @media screen and (min-width: $lg){
                        grid-column: span 7;
                    }
    
                    @media screen and (min-width: $xl){
                        grid-column: span 6;
                    }

                    @include glass('middle', 0.2);
                }
            }

            &#section-2 {
                @include glass('middle', 0.2);
                border-radius: $rounded-xxl;
                padding: 2rem;

                &>div {
                    grid-column: span 6;
                    
                    &.text {
                        padding-right: 3rem;
                        padding-left: 0;
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        a {
                            width: max-content;
                            margin-top: 2rem;
                            @include btn-md($light, $primary, $light, $primary);
                        }
                    }
                    
                    &.img {
                        backdrop-filter: none;

                        img {
                            width: 100%;
                        }
                    }
                }
            }

            &#section-3 {
                max-width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 3rem;

                .testimonies {
                    width: 100%;
                    margin-bottom: 3rem;

                    .splide__track {

                        .splide__list {

                            .splide__slide {
                                height: max-content;

                                display: flex;
                                align-items: center;
                                gap: 3rem;

                                &>.img {
                                    aspect-ratio: 1/1;
                                    height: 15rem;

                                    img {
                                        width: 100%;
                                        height: 100%;

                                        border-radius: $rounded-xxl;
                                    }
                                }

                                &>.text {
                                    height: max-content;

                                    .name {
                                        @include h3-bold;
                                    }

                                    .type {
                                        margin-bottom: 0.5rem;

                                        display: flex;
                                        align-items: center;
                                        gap: 0.5rem;

                                        p {
                                            @include h4-light;
                                        }
                                    }

                                    .testimony {
                                        height: max-content;
                                    }
                                }

                                &>.line {
                                    width: 1px;
                                    height: 10rem;
                                    margin-left: 2rem;

                                    background-color: $light;
                                }
                            }
                        }
                    }
                }
            }

            &#section-4 {

                &>div {
                    
                    &.text {
                        grid-column: span 7;

                        padding-right: 3rem;
                        padding-left: 0;
                        
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        a {
                            width: max-content;
                            margin-top: 2rem;
                            @include btn-md($light, $primary, $light, $primary);
                        }
                    }
                    
                    &.img {
                        grid-column: span 5;
                        margin: 0 3rem 0 7rem;
                        padding: 2.5rem;

                        border-radius: calc($rounded-xxl * 2.5);
                        backdrop-filter: none;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}