#presentation-section{
    position: relative;
    margin-top: -1px;
    padding: 3rem 0;
    @media screen and (min-width: $lg){
        padding: 6rem;
    }
    @media screen and (min-width: $xl){
        padding-bottom: 0;
    }
    

    &>div {

        &>.container {
            margin-bottom: 1rem;
            @media screen and (min-width: $md){
                margin-bottom: 2.5rem;
            }
            @media screen and (min-width: $lg){
                margin-bottom: 5rem;
            }

            display: grid;
            grid-template-columns: repeat(1, 1fr);

            @media screen and (min-width: $lg){
                grid-template-columns: repeat(12, 1fr);
                gap: 4rem;
            }

            @media screen and (min-width: $xl){
                gap: 6rem;
            }

            h2 {
                @include h2-bold;
                margin-bottom: 2rem;
                text-align: center;
                @media screen and (min-width: $sm){
                    text-align: left;
                }
            }

            &>div {
                    
                &.text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    @media screen and (min-width: $sm){
                        align-items: start;
                    }

                    @media screen and (min-width: $lg){
                        grid-column: span 5;
                    }
    
                    @media screen and (min-width: $xl){
                        padding-left: 3rem;
                        grid-column: span 6;
                    }
                }
                
                &.img {
                    width: 100%;

                    @media screen and (min-width: $lg){
                        grid-column: span 7;
                    }
    
                    @media screen and (min-width: $xl){
                        grid-column: span 6;
                    }
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        
            &#section-1 {
                
                &>div {
                    
                    &.text {
                        @media screen and (min-width: $lg){
                            grid-column: span 5;
                        }
        
                        @media screen and (min-width: $xl){
                            padding-left: 3rem;
                            grid-column: span 6;
                        }
                    }
                    
                    &.img {
                        width: 100%;
                        display: none;

                        @media screen and (min-width: $lg){
                            display: block;
                            grid-column: span 7;
                        }
        
                        @media screen and (min-width: $xl){
                            grid-column: span 6;
                        }

                        @include glass('middle', 0.2);
                    }
                }
            }

            &#section-2 {
                padding: 2rem;
                display: block;

                &>div {
                    @include glass('middle', 0.2);
                    border-radius: $rounded-xl;
                    @media screen and (min-width: $sm){
                        border-radius: $rounded-xxl;
                    }
                    padding: 2rem;

                    display: grid;
                    grid-template-columns: repeat(1, 1fr);

                    @media screen and (min-width: $lg){
                        grid-template-columns: repeat(12, 1fr);
                        gap: 4rem;
                    }

                    @media screen and (min-width: $xl){
                        gap: 6rem;
                    }

                    &>div {
                        
                        &.text {
                            margin-bottom: 1rem;
                            @media screen and (min-width: $sm){
                                padding: 0 1rem;
                            }
                            @media screen and (min-width: $lg){
                                padding-right: 3rem;
                                padding-left: 0;
                                margin-bottom: 0;
                            }

                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            @media screen and (min-width: $sm){
                                align-items: start;
                            }

                            @media screen and (min-width: $lg){
                                grid-column: span 5;
                            }
            
                            @media screen and (min-width: $xl){
                                padding-left: 3rem;
                                grid-column: span 6;
                            }

                            @media screen and (min-width: $sm){
                                align-items: start;
                            }

                            p {
                                text-align: center;
                                @media screen and (min-width: $sm){
                                    text-align: left;
                                }
                            }

                            a {
                                @media screen and (min-width: $sm){
                                    width: max-content;
                                }
                                display: inline-block;
                                margin-top: 2rem;
                                @include btn-md($light, $primary, $light, $primary);
                            }
                        }
                        
                        &.img {
                            backdrop-filter: none;
                            margin-bottom: 2.5rem;
                            @media screen and (min-width: $lg){
                                margin-bottom: 0;
                                padding-right: 3rem;
                            }

                            @media screen and (min-width: $lg){
                                grid-column: span 7;
                            }
            
                            @media screen and (min-width: $xl){
                                grid-column: span 6;
                            }

                            display: flex;
                            align-items: center;

                            &>div {
                                width: 100%;

                                @include glass('middle', 0.2);
                                border-radius: $rounded-md;

                                @media screen and (min-width: $sm){
                                    @include glass('middle', 0.2);
                                }

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            &#section-3 {
                max-width: 100%;
                padding: 0;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 3rem;

                .testimonies {
                    width: 100%;
                    margin-bottom: 3rem;

                    .splide__track {

                        .splide__list {

                            .splide__slide {
                                display: flex;
                                align-items: center;

                                gap: 2rem;
                                @media screen and (min-width: $sm){
                                    gap: 3rem;
                                }
                                @media screen and (min-width: $md){
                                    gap: 4rem;
                                }
                                @media screen and (min-width: $lg){
                                    gap: 5rem;
                                }

                                &>.content-container {
                                    height: max-content;

                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    gap: 1rem;
                                    @media screen and (min-width: $sm){
                                        align-items: start;
                                    }
                                    @media screen and (min-width: $md){
                                        flex-direction: row;
                                        align-items: center;
                                        gap: 3rem;
                                    }

                                    &>.img {
                                        aspect-ratio: 1/1;
                                        height: 15rem;

                                        img {
                                            width: 100%;
                                            height: 100%;

                                            border-radius: $rounded-xxl;
                                        }
                                    }

                                    &>.text {
                                        height: max-content;
                                        text-align: center;
                                        @media screen and (min-width: $sm){
                                            text-align: left;
                                        }

                                        .name {
                                            @include h3-bold;
                                        }

                                        .type {
                                            margin-bottom: 0.5rem;

                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            @media screen and (min-width: $sm){
                                                justify-content: start;
                                            }
                                            gap: 0.5rem;

                                            p {
                                                @include h4-light;
                                            }
                                        }

                                        .testimony {
                                            height: max-content;
                                        }
                                    }
                                }

                                &>.line {
                                    width: 1px;
                                    height: 20rem;
                                    @media screen and (min-width: $sm){
                                        height: 10rem;
                                    }

                                    background-color: $light;
                                }
                            }
                        }
                    }
                }
            }

            &#section-4 {
                margin-bottom: 0;

                &>div {
                    
                    &.text {
                        @media screen and (min-width: $lg){
                            grid-column: span 7;
                            padding-right: 3rem;
                            padding-left: 0;
                        }

                        a {
                            width: max-content;
                            margin-top: 2rem;
                            @include btn-md($light, $primary, $light, $primary);
                        }
                    }
                    
                    &.img {
                        @media screen and (min-width: $lg){
                            grid-column: span 5;
                        }


                        &>div {
                            @include glass('middle', 0.2);
                            padding: 1.5rem;
                            margin-bottom: 3rem;
                            border-radius: calc($rounded-xxl * 1.5);
                            @media screen and (min-width: 470px){
                                padding: 2.5rem;
                                margin-bottom: 3rem;
                                border-radius: calc($rounded-xxl * 2.5);
                            }

                            @media screen and (min-width: $sm){
                                margin-bottom: 3rem;
                                margin-right: 4rem;
                                margin-left: 4rem;
                                padding: 2.5rem;
                                border-radius: calc($rounded-xxl * 2.5);
                            }
                            @media screen and (min-width: $md){
                                margin-right: 7.5rem;
                                margin-left: 7.5rem;
                                padding: 3rem;
                                border-radius: calc($rounded-xxl * 2.5);
                            }
                            @media screen and (min-width: $lg){
                                margin: 0;
                                padding: 1.5rem;
                                border-radius: calc($rounded-xxl * 1.5);
                            }
                            @media screen and (min-width: $xl){
                                margin-left: 7rem;
                                padding: 1.5rem;
                                border-radius: calc($rounded-xxl * 1.5);
                            }
                            @media screen and (min-width: $xxl){
                                margin-right: 3rem;
                                padding: 2.5rem;
                                border-radius: calc($rounded-xxl * 2.5);
                            }
                            
                            backdrop-filter: none;
                            
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}