#presentation-section{
    position: relative;
    margin-top: -1px;
    padding: 10rem 0 8rem 0;

    &>div {

        &>.container{
            padding-bottom: 5rem;

            display: grid;
            grid-template-columns: repeat(12, 1fr);

            h2 {
                @include h3-bold;
                margin-bottom: 2rem;
            }
            
            div {
                grid-column: span 6;
                
                &.text {
                    padding-right: 6rem;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                
                &.img {
                    @include glass('middle', 0.2);
                }
            }

            &#section-2 {
                div {
                    grid-column: span 6;
                    
                    &.text {
                        padding-right: 6rem;
    
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    
                    &.img {
                        @include glass('middle', 0.2);
                    }
                }
            }
        }
    }
}