#pricing-section {
    position: relative;
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 5rem 0;

        h2 {
            @include h1;
            padding-bottom: 4rem;
        }

        .grid {
            width: 70%;
            grid-template-columns: repeat(3, minmax(0, 1fr));

            @media screen and (min-width: $md) {
                column-gap: 2rem;
            }

            .column {

                h3 {
                    @include subtitle-black;
                    text-align: center;
                }

                .card {
                    @include glass('bottom', 0.20);
                    margin: 1.5rem 0;

                    table {
                        width: 100%;

                        tbody {
                            
                            tr{
                                display: grid;
                                grid-template-columns: repeat(12, minmax(0, 1fr));
                                border-bottom: 1px solid rgba(255, 255, 255, 0.15);

                                th {
                                    grid-column: span 12 / span 12;
                                    padding: 2rem 0;
                                    
                                    font-size: 1.25rem;
                                    font-weight: 700;
                                    text-align: center;
                                }

                                td {
                                    padding: 1rem;
                                }

                                .type {
                                    grid-column: span 4 / span 4;
                                    text-align: center;
                                }

                                .price {
                                    grid-column: span 8 / span 8;
                                    text-align: center;
                                }

                                td:nth-child(2) {
                                    border-left: 1px solid rgba(255, 255, 255, 0.15);
                                }
                            }

                            tr:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

                .card.secondary {
                    th {
                        grid-column: span 12 / span 12;
                        padding: 0.75rem 0;
                        
                        font-size: 1.25rem;
                        font-weight: 100;
                        // letter-spacing: 1px;
                        text-align: center;
                    }
                }

                .card.special {
                    tr {
                        display: grid;
                        grid-template-columns: repeat(12, minmax(0, 1fr));

                        td {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .picto {
                            grid-column: span 3 / span 3;
                            text-align: center;
                            border: none;
                        }

                        .title {
                            grid-column: span 6 / span 6;

                            text-align: center;
                            text-transform: uppercase;
                            font-weight: 700;

                            border: none;
                        }

                        .price {
                            grid-column: span 3 / span 3;
                            text-align: center;
                            border-left: 1px solid rgba(255, 255, 255, 0.15);
                        }
                    }
                }
            }

            .column.special {

                .card {

                    .price.special {
                        font-weight: 700;
                    }
                }
            }
        }

        .condition {
            width: 50%;
            margin-top: 4rem;

            font-weight: 200;
            text-align: center;

            strong {
                font-weight: 900;
            }

            b {
                font-weight: 700;
            }
        }
    }
}

// @keyframes breathing {
//     0% {
//         box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.0);
//     }
//     50% {
//         box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.15);
//     }
//     100% {
//         box-shadow: 0 0 0px 0 rgba(255, 255, 255, 0.0);
//     }
// }