@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
.maint-title {
  font-size: 10rem;
  font-weight: 900;
  text-transform: uppercase;
}

.h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
}

.h2 {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.h3 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.subtitle-big {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

* {
  font-family: "montserrat", sans-serif;
  color: #FFFFFF;
}

.nav-text {
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .nav-text {
    font-size: 1.125rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .nav-text {
    font-size: 1.5rem;
  }
}

header {
  height: 5rem;
  padding: 1.25rem 0;
  display: flex;
  justify-content: end;
}
header .main-nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
header .main-nav .desktop {
  width: max-content;
  align-items: center;
}
header .main-nav .desktop > .main-nav-item {
  margin: 0 1.5rem;
  position: relative;
}
header .main-nav .desktop > .main-nav-item::before {
  content: "";
  width: calc(100% + 1.5rem);
  height: calc(100% + 0.25rem);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
header .main-nav #burger {
  width: 2.5rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
header .main-nav #burger > span {
  width: 100%;
  height: 0.3rem;
  background-color: #FFFFFF;
  border-radius: 0.15rem;
  transform: translateY(0rem);
  transform-origin: center;
  transition: all 300ms ease-in-out;
}
header .main-nav #burger > span:nth-child(1) {
  animation: pulseBun 1.5s ease infinite;
}
header .main-nav #burger > span:nth-child(2) {
  animation: pulseCheese 1.5s ease infinite;
}
header .main-nav #burger > span:nth-child(3) {
  animation: pulseSteak 1.5s ease infinite;
}
header .main-nav .mobile {
  width: 100vw;
  height: 100vh;
  padding: 1.25rem;
  position: fixed;
  inset: 0;
  opacity: 0;
  transform: scale(0.75);
  transition: all 300ms ease-in-out;
}
@media screen and (min-width: 640px) {
  header .main-nav .mobile {
    padding: 2rem;
  }
}
header .main-nav .mobile > ul {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0));
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
header .main-nav .mobile > ul > .main-nav-item {
  margin: 5vh 0;
}
header .main-nav .mobile > ul > .main-nav-item:last-of-type {
  margin: 0;
  position: absolute;
  top: 1.75rem;
  left: 2rem;
}

.main-nav-item {
  transition: all 300ms ease-in-out;
}
.main-nav-item:last-of-type::before {
  display: none;
}
.main-nav-item:last-of-type:hover {
  transform: translateY(-5%);
}
.main-nav-item:last-of-type:hover path {
  fill: #FFFFFF;
}
.main-nav-item:hover {
  color: #200944;
  transition: all 300ms ease-in-out;
}
.main-nav-item:hover::before {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.main-nav-item:hover path {
  fill: #200944;
}

.active-menu {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.active-burger {
  transform: translate(-0.75rem, 1.75rem);
  position: relative;
  z-index: 50;
}
@media screen and (min-width: 640px) {
  .active-burger {
    transform: translate(0.5rem, 2.5rem);
  }
}
@media screen and (min-width: 768px) {
  .active-burger {
    transform: translate(-1.75rem, 2.5rem);
  }
}

@keyframes pulseBun {
  0% {
    width: 100%;
  }
  33% {
    width: 120%;
  }
  66% {
    width: 105%;
  }
  100% {
    width: 100%;
  }
}
@keyframes pulseCheese {
  0% {
    width: 100%;
  }
  33% {
    width: 90%;
  }
  66% {
    width: 120%;
  }
  100% {
    width: 100%;
  }
}
@keyframes pulseSteak {
  0% {
    width: 100%;
  }
  33% {
    width: 105%;
  }
  66% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes activeBun {
  0% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(calc(1rem - 50%));
  }
  60% {
    transform: translateY(calc(1rem - 50%)) rotate(45deg);
  }
  100% {
    transform: translateY(calc(1rem - 50%)) rotate(45deg);
  }
}
@keyframes activeCheese {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  41% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes activeSteak {
  0% {
    transform: translateY(0rem);
  }
  40% {
    transform: translateY(calc(-1rem + 50%));
  }
  60% {
    transform: translateY(calc(-1rem + 50%)) rotate(-45deg);
  }
  100% {
    transform: translateY(calc(-1rem + 50%)) rotate(-45deg);
  }
}
@keyframes unactiveBun {
  0% {
    transform: translateY(calc(1rem - 50%)) rotate(45deg);
  }
  40% {
    transform: translateY(calc(1rem - 50%)) rotate(0deg);
  }
  60% {
    transform: translateY(calc(1rem - 50%));
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes unactiveCheese {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes unactiveSteak {
  0% {
    transform: translateY(calc(-1rem + 50%)) rotate(-45deg);
  }
  40% {
    transform: translateY(calc(-1rem + 50%)) rotate(0deg);
  }
  60% {
    transform: translateY(calc(-1rem + 50%));
  }
  100% {
    transform: translateY(0);
  }
}
.container {
  margin: 0 auto;
}

body {
  background-image: url("../../res/basics/gradiants.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

/*# sourceMappingURL=output.css.map */
