.file-input {
    padding: 0.5rem;

    display: flex;
    flex-direction: column;

    background-color: $light;
    border-radius: $rounded-lg;

    .drag-drop-area {
        width: 100%;
        flex-grow: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px dashed $dark;
        border-radius: $rounded-md;
        background-color: $zone;

        text-align: center;
        color: $dark;

        cursor: pointer;
        overflow: hidden;
        @include transition;

        &:hover {
            background-color: $light;
            border-color: $primary;

            @include shadow;

            p {
                color: $primary;
            }
        }

        &.highlight {
            background-color: $light;
            border-color: $primary;

            @include shadow;

            p {
                color: $primary;
            }
        }

        p {
            padding: 0 1rem;
            color: $dark;

            @include transition;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: 5px 0;
                color: $dark; 
                font-size: 0.9rem;

                button {
                    @include btn-md($light, $obsolete, darken($obsolete, 10%));
                    margin-left: 0.5rem;
                    padding: 0.125rem 0.5rem;

                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1;
                }
            }
        }
    }

    .file-input-label {
        @include btn-sm($light, $primary, $dark);
        width: 100%;
        padding: 0 0.25rem;
        margin-top: 0.5rem;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: $rounded-md;

        color: white;
        font-size: 1.75rem;
        line-height: 1.2;
    }
}

.text-input {
    padding: 0.5rem;
    
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    background-color: $light;
    border-radius: $rounded-lg;

    label {
        grid-column: span 4 / span 4;
        height: min-content;
        padding: 0.5rem;

        @include label;
        color: $dark;
        text-align: left;

        &.cover {
            padding: 0.125rem 0.5rem 0 0.5rem;
        }
    }

    input, textarea {
        grid-column: span 8 / span 8;
        width: 100%;

        border-radius: $rounded-md;
        background-color: $zone;

        color: $soft;
    }

    input {
        padding: 0 1rem;
    }

    textarea {
        height: 100%;
        padding: 0.35rem 1rem;

        resize: none;
    }

    &.max {
        flex-grow: 1;
    }

    &.cover {
        display: flex;
        flex-direction: column;

        label {
            padding: 0 0.5rem 0.5rem 0.5rem;
        }

        input, textarea {
            flex-grow: 1;
        }
    }
}