.orders-container {
    min-height: 100%;
    padding: $spacing;

    .order-item {
        margin-bottom: calc($spacing + 0.05rem);
        
        .order-global {
            padding: $spacing;
            margin-bottom: calc($spacing * 0.75);

            background-color: $light;
            border-radius: $rounded-lg;

            display: flex;
            align-items: center;
            justify-content: space-between;
            
            cursor: pointer;
            @include transition-big;
            
            .global-status {
                width: 15px;
                aspect-ratio: 1 / 1;
                margin-right: $spacing;

                background-color: $primary;
                border-radius: $rounded-full;
                border: 3px $primary solid;
            }

            .global-status.obsolete {
                background-color: $obsolete;
            }

            .global-status.progressing {
                background-color: $progressing;
            }

            .global-status.completed {
                background-color: $completed;
            }

            .global-status.finished {
                background-color: $finished;
            }

            .global-order-infos {
                width: 100%;

                display: flex;
                justify-content: space-between;

                p {
                    color: $dark;
                }

                // p:nth-child(1) { // DATE
                    
                // }

                p:nth-child(2) { // NAME
                    width: 50%;
                    text-align: center;
                }

                .arrow {
                    padding: 0 calc($spacing / 2) 0 calc($spacing * 1.5);
                    transform: scale(0.75);
    
                    path {
                        fill: $dark;
                    }
                }
            }
        }

        &>div {
            overflow: hidden;
            margin-bottom: -0.5rem;
            
            .order-version {
                margin-left: 2rem;
                margin-bottom: calc($spacing * 0.75);
                transform: scaleY(1);

                background-color: $light;
                border-radius: $rounded-md;

                .version-global {
                    padding: $spacing;

                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    cursor: pointer;

                    .version-status {
                        width: 15px;
                        aspect-ratio: 1 / 1;
                        margin-right: $spacing;
        
                        background-color: $primary;
                        border-radius: $rounded-full;
                    }
        
                    .version-status.obsolete {
                        background-color: $obsolete;
                    }
        
                    .version-status.progressing {
                        background-color: $progressing;
                    }
        
                    .version-status.completed {
                        background-color: $completed;
                    }
        
                    .version-status.finished {
                        background-color: $finished;
                    }

                    .global-version-infos {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        div {
                            display: flex;
                            align-items: center;

                            a {
                                @include btn-sm($light, $dark, $primary);
                            }

                            p {
                                margin: 0 $spacing;
                            }
                        }
                        
                        p {
                            color: $dark;
                        }
                    }

                    .arrow {
                        padding: 0 calc($spacing / 2) 0 calc($spacing * 1.5);
                        transform: scale(0.75);
        
                        path {
                            fill: $dark;
                        }
                    }
                }

                .version-feedback {
                    // height: 0;
                    padding: $spacing;
                    transform: scaleY(1);
                    
                    display: grid;
                    grid-template-columns: repeat(12, 1fr);
                    column-gap: calc($spacing * 2);

                    .feedback {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        grid-column: span 6 / span 6;

                        p {
                            color: $dark;
                            margin-bottom: $spacing;
                        }

                        textarea, p:last-child {
                            resize: none;
                            width: 100%;
                            height: 100%;
                            min-height: 5rem;
                            padding: 0.5rem 1rem;

                            color: $dark;
                            border-radius: $rounded-md;

                            background-color: darken($light, 7.5%);
                        }
                    }

                    .edited {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        grid-column: span 6 / span 6;
                        
                        p {
                            color: $dark;
                        }

                        p:nth-child(1) {
                            margin-bottom: $spacing;
                        }
                    }
                }
            }
        }
    }
}