.track-form-stems-strcd {
    padding: $spacing;
    gap: $spacing;

    display: flex;

    @include glass('middle');
    border-radius: $rounded-xl;

    &>:nth-child(1) {   // METADATAS
        flex-basis: 15.9%;
    } 
    
    &>:nth-child(2) {   // TRACK REFS
        flex-basis: auto;
    }

    .upload {
        flex-basis: auto;
        width: max-content;
        display: flex;

        .stems {
            width: 22.5rem;
            display: flex;
            gap: $spacing;
            overflow: hidden;

            &>div {
                flex-basis: 50%;
            }
        }
        
        .stereo {
            overflow: hidden;

            &>div {
                width: 11rem;
            }
        }
    }

    

    .option-panel {
        width: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin-top: -0.5rem;
            margin-bottom: 0.3rem;
            text-align: center;
            @include label;
        }
    }
}

.track-form-multi-strcd {
    height: 10rem;
    padding: $spacing;
    gap: $spacing;

    display: grid;
    grid-template-columns: repeat(20, minmax(0, 1fr));

    @include glass('middle');
    border-radius: $rounded-xl;

    &>:nth-child(1) {   // METADATAS
        grid-column: span 4 / span 4;
    } 
    
    &>:nth-child(2) {   // TRACK REFS
        grid-column: span 12 / span 12;
    }

    &>:nth-child(3) {   // FILE 1
        grid-column: span 4 / span 4;
    }
}

.track-form-stems-str {
    height: max-content;
    padding: $spacing;
    gap: $spacing;

    display: grid;
    grid-template-columns: repeat(20, minmax(0, 1fr));

    @include glass('middle');
    border-radius: $rounded-xl;

    &>:nth-child(1) {   // TITRE & ARTISTE
        grid-column: span 20 / span 20;

        &>:nth-child(1) {   // TITRE
            margin-bottom: $spacing;
        }
    } 
    
    &>:nth-child(2) {   // TRACK REFS
        grid-column: span 10 / span 10;
    }

    &>:nth-child(3) {   // FILE 1
        grid-column: span 5 / span 5;
    }

    &>:nth-child(4) {   // FILE 2
        grid-column: span 5 / span 5;
    }
}
