footer {
    padding: 2.5rem;
    position: relative;

    .white-bg {
        background-color: white;
        border-radius: $rounded-md;

        .container {
            padding: 2.5rem;

            p {
                color: $dark;

                &.title {
                    @include h4;
                    margin-bottom: $spacing-md;
                }
                
                &.info {
                    a {
                        @include btn-tertiary-lg($color: $dark);
                        text-shadow: none;
                    }
                }
            }
        }
    }
}