footer {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    transition: all .3s ease-in-out;

    * {
        transition: all .3s ease-in-out;
    }

    .white-bg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // background-color: $light;
        @include glass("top");

        &>.inactive {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0 !important;

            .arrow {
                transform: rotate(-90deg) scale(0.6);
                margin-right: 0.5rem;

                path {
                    fill: $light;
                }
            }

            p {
                color: $light;
                font-size: .85rem;
                
                &.info {
                    a {
                        @include btn-tertiary-lg($color: $light);
                        text-shadow: none;
                    }
                }
            }
        }

        &>.container {

            p {
                color: $light;

                &.title {
                    @include h4;
                    margin-bottom: $spacing-md;
                }
                
                &.info {
                    a {
                        @include btn-tertiary-lg($color: $light);
                        text-shadow: none;
                    }
                }
            }
        }
    }

    &.inactive {
        width: 100%;

        &:hover {
            padding: .5rem;
            @media screen and (min-width: $md) {
                padding: .5rem;
            }

            .white-bg {
                border-radius: $rounded-md;
                @include soft-shadow;
            }
        }
        
                
        .white-bg {
            border-radius: 0;

            .btn-bad {
                display: none;
            }

            &>.container {
                padding: 0rem;
            }
        }
    }

    &.active {
        width: 100%;
        padding: .5rem;
        @media screen and (min-width: $md) {
            padding: 2.5rem;
        }

        .white-bg {
            max-width: 100%;
            padding: 0;

            position: relative;

            border-radius: $rounded-md;
            @include soft-shadow;

            .btn-bad {
                display: flex;

                position: absolute;
                top: 1rem;
                right: 1rem;

                path {
                    fill: $light;
                }
            }

            &>.container {
                padding: 2.5rem;
            }
        }
    }
}