.container {
    margin: 0 auto;

    @media screen and (max-width: $xxl) {
        padding: 0 2.5rem;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: $soft;
    overflow-x: hidden;

    main {
        z-index: 1;
    }
}

.bg {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: -1;

    background-image: url("/res/basics/gradiant.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.reverse {
    transform: scaleY(-1);
}

// scroll bar style 
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $light;
    border-radius: $rounded-full;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.loading-overlay {
    position: fixed;
    inset: 0;
    z-index: -9999;

    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.3);

    &.sleeping {
        animation: fadeOutOverlay 0.5s forwards;
    }

    &.active {
        animation: fadeInOverlay 0.5s forwards;
    }
}

.error-overlay {
    position: fixed;
    inset: 0;
    z-index: -9999;

    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        width: 50vw;
        height: 50vh;
        padding: 10rem;

        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include glass('bottom');
        background-color: $coussi_coussa;

        p {
            color: darken($coussi_coussa, 40%);
            font-size: 2rem;
            font-weight: 300;

            strong {
                font-weight: 500;
            }
        }

        button {
            position: absolute;
            top: 1rem;
            right: 1rem;
            cursor: pointer;

            .cross-svg {
                width: 2rem;
                height: 2rem;

                path {
                    fill: darken($coussi_coussa, 40%);

                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover {
                .cross-svg {
                    path {
                        fill: $light;
                    }
                }
            }
        }
    }
    

    &.sleeping {
        animation: fadeOutOverlay 0.5s forwards;
    }

    &.active {
        animation: fadeInOverlay 0.5s forwards;
    }
}

@keyframes fadeInOverlay {
    0% {
        z-index: -9999;
        opacity: 0;
    }
    1% {
        z-index: 9999;
        opacity: 0;
    }

    100% {
        z-index: 9999;
        opacity: 1;
    }
}

@keyframes fadeOutOverlay {
    0% {
        z-index: 9999;
        opacity: 1;
    }
    99% {
        z-index: 9999;
        opacity: 0;
    }

    100% {
        z-index: -9999;
        opacity: 0;
    }
}