header {
    height: 5rem;
    padding: 1.25rem 0;

    display: flex;
    justify-content: end;

    .main-nav {
        
        ul {
            width: max-content;

            display: flex;
            align-items: center;

            li {
                margin: 0 1.5rem;

                position: relative;

                &::before {
                    content: '';
                    width: calc(100% + 1.5rem);
                    height: calc(100% + 0.25rem);

                    position: absolute;
                    z-index: -1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -0%);

                    background-color: $light;
                    border-radius: $border-regular;
                    opacity: 0;

                    transition: all 300ms ease-in-out;
                }

                &:first-of-type {
                    &::before {
                        display: none;
                    }

                    &:hover {
                        transform: translateY(-5%);

                        path {
                            fill: $light;
                        }
                    }
                }

                &:last-of-type {
                    &::before {
                        display: none;
                    }

                    &:hover {
                        transform: translateY(-5%);

                        path {
                            fill: $light;
                        }
                    }
                }

                &:hover {
                    color: $dark;

                    transition: all 300ms ease-in-out;

                    &::before {
                        opacity: 1;
                        transform: translate(-50%, -50%);
                    }

                    path {
                        fill: $dark;
                    }
                }
            }
        }
    }
}