header {
    height: 5rem;
    padding: 1.25rem 2.5rem;
    margin-bottom: -5rem !important;

    position: relative;
    z-index: 50;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        @include transition-big;

        &:hover {
            transform: scale(1.05) rotate(180deg);
        }
    }

    .main-nav {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: end;


// ---------------------------- Desktop ---------------------------- //

        .desktop {
            width: max-content;

            align-items: center;
            position: relative;

            #scroll-to-top {
                display: none;
            }

            #hover-item-top {
                width: 0;
                height: 100%;
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $light;
                border-radius: $rounded-md;
                opacity: 0;
                transition: all 150ms ease-in-out;
            }

            &>.main-nav-item {
                height: 100%;
                padding: 0 1.5rem;

                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: pointer;
                transition: all 100ms ease-in-out;

                &:hover {
                    color: $dark;

                    path {
                        fill: $dark;
                    }
                }
            }

            &>.main-nav-item.profile {
                cursor: pointer;
                a {
                    pointer-events: none
                }
            }
        }


// ---------------------------- Mobile ---------------------------- //

        // -------------------- Burger -------------------- //

        #burger {
            width: 2.5rem;
            height: 2rem;

            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            transition: all 300ms ease-in-out;

            cursor: pointer;

            &>span {
                width: 100%;
                height: 0.3rem;

                background-color: $light;

                border-radius: 0.15rem;

                transform: translateY(0rem);
                transform-origin: center;

                transition: all 300ms ease-in-out;

                &:nth-child(1) {
                    animation: pulseBun 1.5s ease infinite;
                }

                &:nth-child(2) {
                    height: 0.3125rem;
                    animation: pulseCheese 1.5s ease infinite;
                }

                &:nth-child(3) {
                    animation: pulseSteak 1.5s ease infinite;
                }
            }
        }

        // -------------------- Menu -------------------- //

        .mobile {
            width: calc(100vw - 2.5rem);
            height: calc(100vh - 2.5rem);
            padding: 1rem;

            position: fixed;
            inset: 1.25rem;

            @media screen and (min-width: 640px) {
                width: calc(100vw - 4rem);
                height: calc(100vh - 4rem);

                padding: 2rem;

                inset: 2rem;
            }

            z-index: 49;

            opacity: 0;
            transform: scale(0.75);

            flex-direction: column;
            justify-content: center;
            align-items: center;

            background: linear-gradient(45deg,hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.0));
            backdrop-filter: blur(0px);
            border-radius: 1rem;
            border: 1px solid rgba(255, 255, 255, 0.3);

            transition: all 300ms ease-in-out;

            &>.main-nav-item {
                margin: 5vh 0;
                
                text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);

                &:last-of-type {
                    margin: 0;

                    position: fixed;
                    top: 2.75rem;
                    left: 3rem;
                }
            }
        }
    }

// ---------------------------- FIXED ---------------------------- //

    .show-fixed-nav {
        transform: scaleY(1) translateY(0) translateX(-50%);
    }

    .hide-fixed-nav {
        transform: scaleY(0.5) translateY(-1051%) translateX(-50%);
    }

    #scroll-to-top {
        position: fixed;
        bottom: 2.5rem;
        right: 2.5rem;
        z-index: 50;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: $rounded-full;

        @include transition-big;

        .arrow {
            width: 2rem;
            height: 2rem;
            
            transform: rotate(-90deg);

            border-radius: $rounded-full;

            path {
                fill: $light;
            }
        }

        .logo {
            width: 2.75rem;
            height: 2.75rem;

            border-radius: $rounded-full;
        }

        &:hover {
            transform: none;

            &>.logo {
                transform: scale(1.05) rotate(180deg);
            }
        }
    }

    .main-nav-fixed {
        width: max-content;

        display: flex;
        justify-content: end;

        position: fixed;
        top: 0;
        left: 50%;
        z-index: 50;

        transform-origin: top;

        @include transition-big;

        .desktop {
            width: max-content;

            position: relative;
            z-index: 50;

            background-color: $light;
            border-radius: 0 0 30px 30px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            
            @include transition-big;
            transition: background-color 0ms;

            .fixed-nav-corner.left {
                display: block;

                width: 6rem;
                height: 100%;

                position: absolute;
                top: 0;
                left: -4.1rem;
                z-index: -1;

                path {
                    fill: $light;
                }
            }
            .fixed-nav-corner.right {
                display: block;

                width: 6rem;
                height: 100%;
                transform: scaleX(-1);

                position: absolute;
                top: 0;
                right: -4.1rem;
                z-index: -1;

                path {
                    fill: $light;
                }
            }

            #hover-item-fixed {
                width: 0;
                height: calc(100% - 1.5rem);
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: $dark;
                border-radius: $rounded-md;
                opacity: 0;
                transition: all 150ms ease-in-out;
            }

            &>.main-nav-item {
                height: 100%;
                padding: 1rem 1.5rem;

                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                color: $dark;

                path {
                    fill: $dark;
                }

                cursor: pointer;
                transition: all 100ms ease-in-out;

                &:hover {
                    color: $light;

                    path {
                        fill: $light;
                    }
                }
            }

            &>.profile {
                a {
                    pointer-events: none;

                    svg {
                        transform: scale(0.8);
                    }
                }
            }
        }
    }
}


// ---------------------------- Active effect ---------------------------- //

.active-menu {
    opacity: 1 !important;
    transform: scale(1) !important;
    backdrop-filter: blur(30px) !important;
}

.active-burger {
    transform: translate(-0.75rem, 1.75rem);
    @media screen and (min-width: 640px) {
        transform: translate(0.5rem, 2.5rem);
    }
    @media screen and (min-width: 768px) {
        transform: translate(-1.75rem, 2.5rem);
    }

    position: relative;
    z-index: 50;
} 


// ---------------------------- Animation ---------------------------- //

@keyframes pulseBun {
    0% { width: 100%; }
    33% { width: 120%; }
    66% { width: 105%; }
    100% { width: 100%; }
}
  
@keyframes pulseCheese {
    0% { width: 100%; }
    33% { width: 90%; }
    66% { width: 120%; }
    100% { width: 100%; }
}
  
@keyframes pulseSteak {
    0% { width: 100%; }
    33% { width: 105%; }
    66% { width: 90%; }
    100% { width: 100%; }
}

@keyframes activeBun {
    0% { 
        transform: translateY(0rem);
    }
    40% { 
        transform: translateY(calc(1rem - 50%));
    }
    60% { 
        transform: translateY(calc(1rem - 50%)) rotate(45deg);
    }
    100% { 
        transform: translateY(calc(1rem - 50%)) rotate(45deg);
    }
}

@keyframes activeCheese {
    0% { 
        opacity: 1;
    }
    40% { 
        opacity: 1;
    }
    41% { 
        opacity: 0;
    }
    100% { 
        opacity: 0;
    }
}

@keyframes activeSteak {
    0% { 
        transform: translateY(0rem);
    }
    40% { 
        transform: translateY(calc(-1rem + 50%));
    }
    60% { 
        transform: translateY(calc(-1rem + 50%)) rotate(-45deg);
    }
    100% {
        transform: translateY(calc(-1rem + 50%)) rotate(-45deg);
    }
}


@keyframes unactiveBun {
    0% { 
        transform: translateY(calc(1rem - 50%)) rotate(45deg);
    }
    40% { 
        transform: translateY(calc(1rem - 50%)) rotate(0deg);
    }
    60% { 
        transform: translateY(calc(1rem - 50%));
    }
    100% { 
        transform: translateY(0);
    }
}

@keyframes unactiveCheese {
    0% { 
        opacity: 0;
    }
    40% { 
        opacity: 0;
    }
    41% { 
        opacity: 1;
    }
    100% { 
        opacity: 1;
    }
}

@keyframes unactiveSteak {
    0% { 
        transform: translateY(calc(-1rem + 50%)) rotate(-45deg);
    }
    40% { 
        transform: translateY(calc(-1rem + 50%)) rotate(0deg);
    }
    60% { 
        transform: translateY(calc(-1rem + 50%));
    }
    100% {
        transform: translateY(0);
    }
}

  