@import "header";
@import "footer";

// ------------------ MIXINS ------------------ //


// ------------------ OTHER ------------------ //

.container {
    margin: 0 auto;
    padding: 0 5rem;
}

//smooth scroll
html {
    scroll-behavior: smooth;
}

body {

    main {
        z-index: 1;
    }
}

.bg {
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    z-index: -1;

    background-image: url("../../res/basics/gradiant.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.reverse {
    transform: scaleY(-1);
}