#contact {
    height: 100vh;
    padding-top: 5rem;

    position: relative;

    .container {
        height: 100%;
        padding-top: 4rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            @include h1;
            margin-bottom: 1rem;
        }

        &>form {
            @media screen and (min-width: $md){
                min-width: 40rem;   
            }

            &>div {
                display: flex;
                flex-direction: column-reverse;

                label {
                    width: max-content;
                    padding: 0.15rem 1rem;

                    position: relative;
                    z-index: 50;
                    
                    margin: 0.1rem 0 0.5rem 1rem;
                    transform: translateY(20%);

                    background: transparent;
                    color: $light;

                    border-radius: $rounded-md;
                    background: transparent;

                    @include transition-big;
                }

                input, textarea {
                    @include glass('bottom');
                    padding: 0.7rem 1rem;

                    &:focus {
                        outline: none;
                    }
                }

                input:focus +label, textarea:focus +label {
                    margin: 0.1rem 0 0.5rem 2rem;
                    transform: translateY(55%);

                    color: $dark;
                    background: $light;
                }

                textarea {
                    min-height: 10rem;
                    resize: none;
                }

                input[type="submit"] {
                    width: max-content;
                    margin: 1.5rem auto 0 auto;
                    @include btn-md($dark, $light, $primary);
                }
            }
        }
    }
}