* {
    font-family: 'montserrat', sans-serif;
    color: $light;
}

.main-title {
    @include big-title;
}

.main-subtitle {
    @include main-title;
}

.nav-text {
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        font-size: 1.125rem;
    }

    @media screen and (min-width: 640px) and (max-width: 1023px) {
        font-size: 1.5rem;
    }
    
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}