#account {
    position: relative;

    .wave3 {
        width: 75%;
        height: 100vh;

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
    
        .global {
            grid-column: span 5 / span 5;
            height: 100vh;
            padding: 7.5rem 0 5rem 0;
    
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
    
            .title {
    
                h1 {
                    @include h1;
                }
    
                p {
                    @include subtitle-big;
                    text-transform: none;
                }
            }
    
            nav {   
                height: 100%;
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                ul {
    
                    li {
                        width: max-content;
                        margin: 3rem 0;
                        position: relative;
                        @include btn;
                        @include transition;
    
                        &::before {
                            content: '';
                            width: 0;
                            height: calc(100% + 0.5rem);
    
                            position: absolute;
                            top: 50%;
                            left: -1rem;
                            transform: translateY(-50%);
                            z-index: -1;
    
                            border-radius: $rounded-md;
                            background-color: $light;
                            
                            @include transition;
                        }
    
                        &:hover {
                            color: $dark;
                            
                            &::before {
                                width: calc(100% + 2rem);
                            }
                        }
                    }
                }
    
                button {
                    width: max-content;
                    position: relative;
                    @include transition;
    
                    &::before {
                        content: '';
                        width: 0;
                        height: calc(100% + 0.5rem);
    
                        position: absolute;
                        top: 50%;
                        left: -1rem;
                        transform: translateY(-50%);
                        z-index: -1;
    
                        border-radius: $rounded-md;
                        background-color: $light;
                        
                        @include transition;
                    }
    
                    &:hover {
                        color: $dark;
                        
                        &::before {
                            width: calc(100% + 2rem);
                        }
                    }
                }
    
                &::before {
                    content: '';
                }
            }
        }
    
        .content {
            grid-column: span 7 / span 7;
            height: 100vh;
            padding: 7.5rem 0 2.5rem 0;
    
            &>div {
                height: 100%;
                padding: 0;

                overflow-y: auto;

                @include glass('bottom', 0.20);
                border-radius: $rounded-xl;
            }
        }
    }
}