$primary: #99A0E0;
$black: #15052D;
$dark: #200944;
$medium: #301c4d;
$soft: #42305E;

$light: #FFFFFF;
$zone: #ececec;

$obsolete: #FF7A7A;
$progressing: #ffd877;
$completed: #99F6C4;
$finished: #7dc6fb;