@mixin big-title {
    @include font-responsive(9rem, 2rem);
    font-weight: 900;
    line-height: 1.1;
    text-transform: uppercase;
}

@mixin main-title {
    @include font-responsive(1.625rem, 1.25rem);
    font-weight: 400;
    line-height: 1.2;
}

@mixin h1 {
    @include font-responsive(4rem, 1.75rem);
    font-weight: 900;
    text-transform: uppercase;
}

@mixin h2 {
    @include font-responsive(2.5rem, 1.5rem);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
}

@mixin h2-mid {
    @include font-responsive(2.5rem, 1.5rem);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2;
}

@mixin h2-bold {
    @include font-responsive(2.5rem, 1.5rem);
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.2;
}

@mixin h3 {
    @include font-responsive(2rem, 1.15rem);
    font-weight: 300;
}

@mixin h3-mid {
    @include font-responsive(2rem, 1.15rem);
    font-weight: 500;
}

@mixin h3-bold {
    @include font-responsive(2rem, 1.15rem);
    font-weight: 900;
}

@mixin h4-light {
    @include font-responsive(1.5rem, 1.15rem);
    font-size: 1.5rem;
    font-weight: 300;
}

@mixin h4 {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 500;
}

@mixin h4-mid {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 700;
}

@mixin h4-bold {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 900;
}

@mixin h5-light {
    @include font-responsive(1.25rem, 1.125rem);
    font-weight: 300;
}

@mixin h5 {
    @include font-responsive(1.25rem, 1.125rem);
    font-weight: 500;
}

@mixin h5-mid {
    @include font-responsive(1.25rem, 1.125rem);
    font-weight: 700;
}

@mixin h5-bold {
    @include font-responsive(1.25rem, 1.125rem);
    font-weight: 900;
}


@mixin subtitle-black {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 900;
    text-transform: uppercase;
}

@mixin subtitle-big {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 700;
    text-transform: uppercase;
}

@mixin subtitle {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 400;
    text-transform: uppercase;
}


@mixin btn-big {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 800;
    text-transform: uppercase;
}

@mixin btn-medium {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 600;
    text-transform: uppercase;
}

@mixin btn {
    @include font-responsive(1.5rem, 1.15rem);
    font-weight: 400;
}

@mixin btn-small {
    font-size: 1rem;
    font-weight: 400;
}

@mixin label {
    font-size: 1rem;
    font-weight: 500;
}


@mixin text-strokes($color1, $color2) {
    -webkit-text-fill-color: $color2;
    text-shadow:
        -1px -1px 0 $color1,  
         1px -1px 0 $color1,
        -1px  1px 0 $color1,
         1px  1px 0 $color1;
}


@mixin font-responsive($size, $min_size: 1rem) {
    font-size: calc($size - ($size * .75));

    @media screen and (min-width: $xs) {
        font-size: if(calc($size - ($size * .65)) < $min_size, $min_size, calc($size - ($size * .65)));
    }

    @media screen and (min-width: $sm) {
        font-size: if(calc($size - ($size * .45)) < $min_size, $min_size, calc($size - ($size * .45)));
    }

    @media screen and (min-width: $md) {
        font-size: if(calc($size - ($size * .30)) < $min_size, $min_size, calc($size - ($size * .30)));
    }

    @media screen and (min-width: $lg) {
        font-size: if(calc($size - ($size * .15)) < $min_size, $min_size, calc($size - ($size * .15)));
    }

    @media screen and (min-width: $xl) {
        font-size: $size;
    }
}